# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
ENV/
env/
.venv/

# Environment variables
.env
.env.*

# SQLite / DB
*.db
instance/
*.sqlite3

# Logs
*.log
logs/

# Node.js
node_modules/
.next/
dist/
.vite/
out/

# Static build tools
build/
.cache/
.nyc_output/

# Editor folders
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git
*.swp
*.swo
__pycache__/
*.pyc
